{
  "openapi": "3.0.0",
  "info": {
    "title": "E-commerce MonoRepo Boilerplate API v.1.0.0",
    "description": "E-commerce MonoRepo Boilerplate API Documentation",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://mock-api.tariksogukpinar.dev",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Auth (NestJS)",
      "description": "Authentication related endpoints for NestJS microservice"
    },
    {
      "name": "Users (NestJS)",
      "description": "User-related endpoints for NestJS microservice"
    },
    {
      "name": "Address (NestJS)",
      "description": "Address management in NestJS"
    },
    {
      "name": "Support (NestJS)",
      "description": "Support-related endpoints in NestJS"
    },
    {
      "name": "Address (NestJS)",
      "description": "Address endpoints in NestJS"
    },
    {
      "name": "Admin (NestJS)",
      "description": "Admin-related operations in NestJS"
    },
    {
      "name": "Products (Go)",
      "description": "Product management in Go microservice"
    },
    {
      "name": "Orders (Go)",
      "description": "Order-related operations in Go microservice"
    }
  ],
  "paths": {
    "/nest/api/v1/auth/register": {
      "post": {
        "operationId": "AuthController_register",
        "summary": "User register",
        "tags": [
          "Auth (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful register",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterUserDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/auth/login": {
      "post": {
        "operationId": "AuthController_login",
        "summary": "User login",
        "tags": [
          "Auth (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginUserDto"
                }
              }
            }
          }
        }
      }
    },
    "/nest/api/v1/user/users": {
      "get": {
        "operationId": "UserController_GetAllUsers",
        "summary": "Get All Users",
        "tags": [
          "Users (NestJS)"
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/user/me": {
      "get": {
        "operationId": "UserController_Me",
        "summary": "Me",
        "tags": [
          "Users (NestJS)"
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/user/{id}": {
      "get": {
        "operationId": "UserController_GetUserById",
        "summary": "Get User By Id",
        "tags": [
          "Users (NestJS)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "put": {
        "operationId": "UserController_updateUser",
        "summary": "Update user by ID",
        "tags": [
          "Users (NestJS)"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad request - Invalid data"
          },
          "404": {
            "description": "User not found"
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/user/{id}/password": {
      "put": {
        "operationId": "UserController_changePassword",
        "summary": "Change user password",
        "tags": [
          "Users (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeUserPassworDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/address/createAddress": {
      "put": {
        "operationId": "AddressController_createAddress",
        "summary": "Create address",
        "tags": [
          "Address (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address created successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/address/userAddress/{userId}": {
      "put": {
        "operationId": "AddressController_getAllAddressesForUsers",
        "summary": "Get All Addresses For User",
        "tags": [
          "Address (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/address/{addressId}/user/{userId}": {
      "put": {
        "operationId": "AddressController_updateAddress",
        "summary": "Update Address",
        "tags": [
          "Address (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "AddressController_deleteAddress",
        "summary": "Delete Address",
        "tags": [
          "Address (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address deleted successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/support/createSupportTicket": {
      "put": {
        "operationId": "AddressController_updateAddress",
        "summary": "Create Support Ticket",
        "tags": [
          "Support (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "AddressController_deleteAddress",
        "summary": "Delete Support",
        "tags": [
          "Support (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address deleted successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/support/getMyTickets": {
      "put": {
        "operationId": "AddressController_getMyTickets",
        "summary": "Get My Tickets",
        "tags": [
          "Support (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "AddressController_deleteAddress",
        "summary": "Delete Support",
        "tags": [
          "Support (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address deleted successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/support/getTicketDetails/{ticketId}/user/{userId}": {
      "put": {
        "operationId": "AddressController_getMyTickets",
        "summary": "Get My Tickets",
        "tags": [
          "Support (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/admin/getAllTickets": {
      "put": {
        "operationId": "AddressController_getAllTickets",
        "summary": "Get All Tickets",
        "tags": [
          "Admin (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/admin/updateTicket/{ticketId}": {
      "put": {
        "operationId": "AddressController_updateTicket",
        "summary": "Update Ticket",
        "tags": [
          "Admin (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    },
    "/nest/api/v1/admin/deleteTicket/{id}": {
      "delete": {
        "operationId": "AddressController_deleteTicket",
        "summary": "Delete Ticket",
        "tags": [
          "Admin (NestJS)"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address retrieved successfully",
            "content": {
              "application/json": {}
            }
          }
        },
        "401": {
          "description": "Unauthorized - Invalid or missing token"
        },
        "security": [
          {
            "bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      },
      "RegisterUserDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "example": "johndoe@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "securepassword123"
          }
        }
      },
      "LoginUserDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "example": "johndoe@gmail.com"
          },
          "password": {
            "type": "string",
            "example": "securepassword123"
          }
        }
      },
      "LoginResponseDto": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "ChangeUserPassworDto": {
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "example": "securepassword123"
          }
        }
      },
      "CreateAddressDto": {
        "type": "object",
        "properties": {
          "addressLine": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "county": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}